<div id="new_trip">
  <%= form_for(@trip, url: trip_path(@trip), html: {method: :put}) do |f| %>
    <div class="field form-group">
      <div class="col-12">
        <div style="display: flex; flex-direction: column">
          <div>
            <%= text_field_tag nil, nil, autofocus: true, autocomplete: "location", class: "form-control", id: "search_location", placeholder: "Location" %>
            <%= f.hidden_field :location, id: "hidden_location" %>
          </div>
          <div style="display: none" id="location_error" class="form_errors">
            <p>Location cannot be empty or be incorrect</p>
          </div>
        </div>
      </div>
    </div>

    <div class="date">
      <div class="field form-group">
        <div class="col-8" style="display: flex; flex-direction: column">
          <div>
            <%= f.text_field :date_s, autocomplete: "off", id: "start", class: "datepicker form-control", placeholder: "Start date" %>
          </div>
          <div style="display: none" id="date_s_error" class="form_errors">
            <p>Start date cannot be empty</p>
          </div>
        </div>
      </div>
      <div class="field form-group">
        <div class="col-8" style="display: flex; flex-direction: column">
          <div>
            <%= f.text_field :date_e, autocomplete: "off", id: "end", class: "datepicker form-control", placeholder: "End date" %>
          </div>
          <div style="display: none" id="date_e_error" class="form_errors">
            <p>End date cannot be empty</p>
          </div>
        </div>
      </div>
    </div>

    <div class="field form-group">
      <div class="col-12">
        <%= f.text_area :description, class: "form-control", placeholder: "Description", :rows => 10 %>
      </div>
    </div>

    <div class="field form-group" style="display: flex">
      <div class="col-9">
        <span class="form-control"></span>
      </div>
      <div class="col-3">
      <span class="input-group-btn">
      <span class="btn btn-small btn-primary btn-inverse" onclick="$(this).parent().parent().find('input[type=file]').click();">Browse</span>
        <%= f.file_field :photos, onchange: "$(this).parent().parent().parent().find('.form-control').html($(this).val().split(/[\\\\|/]/).pop());", style: "display: none;" %>
      </span>
      </div>
    </div>

    <div class="field form-group" style="display: flex">
      <div class="field form-group images" style="display: flex; flex-direction: row; padding: 10px">
        <div style="display: flex">
          <%= render :partial => "images_edit", locals: { trip: @trip } %>
        </div>
      </div>
    </div>

    <div style="display: flex">
      <div class="field form-group">
        <div class="col-6">
          <%= f.submit "Update", class: "btn btn-primary", id: "trip_submit" %>
        </div>
      </div>
      <div class="field form-group">
        <div class="col-12">
          <%= link_to "Delete this trip", trip_path(@trip), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
        </div>
      </div>
    </div>
  <% end %>

  <script type="text/javascript">
      $(document).on('turbolinks:load', () => {
          $('form').on('keypress', e => {
              if (e.keyCode == 13) {
                  return false;
              }
          });

      });

      $(document).ready(function () {
          $("#search_location").val($('#hidden_location').attr("value"))
          var select = function () {
              var start = $('#start').datepicker('getDate');
              var end = $('#end').datepicker('getDate');
              var diff = 0;
              if (start && end) {
                  diff = Math.floor((end.getTime() - start.getTime()) / 86400000);
                  if (diff < 1) {
                      alert("Select correct start and end date for the trip");
                      var $dates = $('#start, #end').datepicker();
                      $dates.datepicker('setDate', null);
                  }
              }
          }

          $('#trip_submit').on("click", function (event) {
              if (validate())
                  return;
              else event.preventDefault();
          });

          function validate() {
              $('.form_errors').css("display", "none")
              var flag = true;
              if ($('#hidden_location').val().length < 1) {
                  flag = false;
                  $('#location_error').css("display", "block");
              }
              if ($('#start').val().length < 1) {
                  flag = false;
                  $('#date_s_error').css("display", "block");
              }
              if ($('#end').val().length < 1) {
                  flag = false;
                  $('#date_e_error').css("display", "block");
              }
              return flag;
          }

          $("#start").datepicker({
              showMonthAfterYear: true,
              format: 'dd/mm/yyyy',
              numberOfMonths: 2,
              minDate: 0,
              autoclose: true,
          }).on("changeDate", function (selected) {
              $("#end").datepicker("option", "minDate", selected);
              select();
          });
          $("#end").datepicker({
              showMonthAfterYear: true,
              format: 'dd/mm/yyyy',
              numberOfMonths: 2,
              autoclose: true,
          }).on("changeDate", function (selected) {
              $("#start").datepicker("option", "maxDate", selected)
              select();
          });
      });

      function activatePlacesSearch() {
          var input = document.getElementById('search_location');
          var autocomplete = new google.maps.places.Autocomplete(input);
          google.maps.event.addListener(autocomplete, 'place_changed', function () {
              var place = autocomplete.getPlace();
              document.getElementById('hidden_location').value = place.name;
          })

      }
  </script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials[:google][:api_key_location] %>&libraries=places&callback=activatePlacesSearch"></script>
</div>