<div id="new_trip">
  <%= form_for @trip do |f| %>
    <div class="field form-group">
      <div class="col-12">
        <%= f.text_field :location, autofocus: true, autocomplete: "name", class: "form-control", id: "search_location", placeholder: "Location" %>
      </div>
    </div>

    <div class="date">
      <div class="field form-group">
        <div class="col-12">
          <%= f.text_field :date_s, autocomplete: "off", class: "datepicker form-control", placeholder: "Start date" %>
        </div>
      </div>
      <div class="field form-group">
        <div class="col-12">
          <%= f.text_field :date_e, autocomplete: "off", class: "datepicker form-control", placeholder: "End date" %>
        </div>
      </div>
    </div>

    <div class="field form-group">
      <div class="col-12">
        <%= f.text_area :description, class: "form-control", placeholder: "Description", :rows => 10 %>
      </div>
    </div>

    <div class="field form-group" style="display: flex">
      <div class="col-9">
      <span class="form-control"></span>
      </div>
      <div class="col-3">
      <span class="input-group-btn">
      <span class="btn btn-small btn-primary btn-inverse" onclick="$(this).parent().parent().find('input[type=file]').click();">Browse</span>
        <%= f.file_field :photos, multiple: true, onchange: "$(this).parent().parent().parent().find('.form-control').html($(this).val().split(/[\\\\|/]/).pop());", style: "display: none;" %>
      </span>
      </div>
    </div>

    <div class="field form-group">
      <div class="col-9">
      <%= f.submit "Upload", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
  <script type="text/javascript">
      $(document).ready(function () {
          $('.datepicker').datepicker({
             format: 'dd/mm/yyyy'
          });
      });
      function activatePlacesSearch() {
          var input = document.getElementById('search_location');
          var autocomplete = new google.maps.places.Autocomplete(input)
      }
  </script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials[:google][:api_key_location]}&libraries=places&callback=activatePlacesSearch"></script>
</div>