<% if !@my_trips.nil? %>
<div id="trip_list">
  <% @my_trips.each do |trip| %>
    <div class="card border-light mb-3">
    <div class="trip_card card-body text-dark">
      <div class="icon_flag">
      <%= image_tag("flag_trip.png") %>
      </div>
      <div class="trip_details">
    <h5 class="card-title"><%= link_to trip.location, trip_path(trip) %></h5>
      <p><%= Time.new(trip.date_s[6...10], trip.date_s[3...5], trip.date_s[0...2]).strftime("%d %b %Y") %>
         to <%= Time.new(trip.date_e[6...10], trip.date_e[3...5], trip.date_e[0...2]).strftime("%d %b %Y") %></p>
        <%= link_to "edit", edit_trip_path(trip), remote: true %>
      </div>
    </div>
    </div>
  <% end %>
</div>
  <% else %>
  <div id="trip_list_empty">
    <p>There is not trips available.<br/> Add a trip trip to see it in here</p>
  </div>
<% end %>

<script>
    $(document).on('turbolinks:load', function() {
      $('.card').on('click', function () {
          // $(this).children('#hidden_link').click();
          // console.log("egsuig")
      })
    })
</script>