<% if !@reviews.nil? %>
  <div class="reviews">
    <% @reviews.each do |review| %>
      <div class="single_review">
        <div class="review_title">
          <div id="review_avatar">
            <%= image_tag user_avatar(review.user, 40), class: "rounded-circle" %>
          </div>
          <div id="name">
            <%= review.user.name.titleize %>
          </div>
          <div id="vertical_line_review">|</div>
          <div class="review-rating" data-score="<%= review.rating %>" id="star_rating"></div>
        </div>
        <div class="review_description">
          <div>
            <%= review.description %>
          </div>
          <div>
            <%= commontator_thread(review) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<script>
    $('.review-rating').raty({
        readOnly: true,
        score: function () {
            return $(this).attr('data-score');
        },
        path: '/assets/'
    });
</script>