<div class="container">
  <div class="trip_show">
    <div>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page"><%= @trip.location.titleize %></li>
      </ol>
    </div>
    <div class="user_trip">
      <div>
        <%= image_tag user_avatar(@trip.user, 50), class: "rounded-circle" %>
      </div>
      <div id="name_date">
        <a href="/profile/users/<%= @trip.user.id %>"><h5 class="card-title"><%= @trip.user.name.titleize %></h5></a>
        <p><%= Time.new(@trip.created_at.to_s[0...4], @trip.created_at.to_s[5...7], @trip.created_at.to_s[8...10]).strftime("%d %b %Y") %></p>
      </div>

    </div>
    <div>
      <h2><%= @trip.location.titleize %></h2>
    </div>


    <%= render partial: 'trips/rating', locals: {trip: @trip} %>

    <div id="big_image">
      <%= image_tag trip_image(@trip) %>
    </div>

    <div id="name_under_photo">
      <h4>Samaria Gorge</h4>
    </div>

    <div id="description">
      <p><%= @trip.description %></p>
    </div>

    <%= render :partial => 'review', locals: { reviews: @reviews, trip: @trip } %>
  </div>
</div>