<div class="container edit_profile">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
    <div class="form-group picture">
      <div>
        <%= image_tag user_avatar(resource, 150), class: "rounded" %>
      </div>
      <div style="margin-top: 10px">
        <span class="btn btn-large btn-warning btn-file">
          Upload picture
          <%= f.file_field :avatar %>
        </span>
      </div>
    </div>

    <div class="field form-group">
      <div class="col-4">
        <%= f.label :name %>
      </div>
      <div class="col-8">
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
      </div>
    </div>

    <div class="field form-group">
      <div class="col-4">
        <%= f.label :date_of_birthday %>
      </div>
      <div class="col-4">
        <%= f.text_field :dob, autocomplete: 'off', class: "datepicker form-control", placeholder: "Birthday" %>
        <div class="input-group-addon">
          <span class="glyphicon glyphicon-th"></span>
        </div>
      </div>
    </div>

    <div class="field form-group">
      <div class="col-4">
        <%= f.label :gender %>
      </div>
      <div class="col-4">
        <%= f.select :gender, options_for_select([["Male", "m"], ["Female", "f"]]), prompt: "Select Gender", class: "form-control gender_select", placeholder: "Gender" %>
      </div>
    </div>

    <div class="field form-group">
      <div class="col-4">
        <%= f.label :email %>
      </div>
      <div class="col-8">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field form-group">
      <div class="col-4">
        <%= f.label :password %>
      </div>
      <div class="col-8">
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      </div>
    </div>

    <div class="field form-group">
      <div class="col-4">
        <%= f.label :password_confirmation %>
      </div>
      <div class="col-8">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>
    </div>

    <div class="field form-group">
      <div class="col-4">
        <%= f.label :current_password %>
      </div>
      <div class="col-8">
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
      </div>
    </div>

    <%= f.label :photos_of_you %>
    <div class="image_section">
      <div class="field form-group">
        <span class="btn btn-large btn-warning btn-file user_images">
          Add images
        <%= f.file_field :images, multiple: true %>
        </span>
      </div>
      <div class="field form-group images" style="display: flex; flex-direction: row; padding: 10px">
        <div style="display: flex">
        <%= render partial: 'myprofile/images_edit_profile' %>
        </div>
      </div>
    </div>
    <div class="actions form-group">
      <%= f.submit "Update", class: "btn btn-primary" %>
    </div>
  <% end %>

  <p>My Trips</p>
  <div class="map">
    <div class="trip_list_profile">
      <div id="trip_list">
        <% (0...3).each do |trip| %>
          <% if !current_user.trips[trip].nil? %>
            <a class="trip_links"  data-lat="<%= current_user.trips[trip].latitude%>" data-lon="<%= current_user.trips[trip].longitude%>">
          <div class="card border-light mb-3">
            <div class="trip_card card-body text-dark">
              <div class="icon_flag">
                <%= image_tag("flag_trip.png") %>
              </div>
              <div class="trip_details">
                <h5 class="card-title"><%= current_user.trips[trip].location %></h5>
                <p><%= current_user.trips[trip].date_s %> - <%= current_user.trips[trip].date_e %></p>
              </div>
            </div>
          </div>
            </a>
            <% end %>
        <% end %>
      </div>
    </div>
    <div id="map">
    </div>
  </div>
  <script type="text/javascript">
      $(document).ready(function () {
          $('.datepicker').datepicker()
      });

  </script>
  <!--<h3>Cancel my account</h3>-->

  <!--<p>Unhappy? <%#= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>-->

<%#= link_to "Back", :back %>
</div>

<script src="http://maps.google.com/maps/api/js"></script>
<script>
    $(document).on('turbolinks:load', function() {
        var map = new GMaps({
            el: '#map',
            lat: 0,
            lng: 0,
        })
    })

    $('.trip_links').on('click', function () {
        gMap = new google.maps.Map(document.getElementById('map'));
        gMap.setZoom(13);      // This will trigger a zoom_changed on the map
        gMap.setCenter(new google.maps.LatLng($(this).attr("data-lat"), $(this).attr("data-lon")));
        var myLatlng = new google.maps.LatLng($(this).attr("data-lat"), $(this).attr("data-lon"));
        var marker = new google.maps.Marker({
            position: myLatlng,
            title:"Hello World!"
        });
        marker.setMap(gMap);
    })
</script>