<div class="container edit_profile">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
    <div class="form-group picture">
      <div>
        <%= image_tag user_avatar(resource, 150), class: "rounded" %>
      </div>
      <div>
        <%= f.file_field :avatar %>
      </div>
    </div>

    <div class="field form-group">
      <div class="col-4">
        <%= f.label :name %>
      </div>
      <div class="col-8">
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
      </div>
    </div>

    <div class="field form-group">
      <div class="col-4">
        <%= f.label :date_of_birthday %>
      </div>
      <div class="col-4">
        <%= f.text_field :dob, autocomplete: 'off', class: "datepicker form-control", placeholder: "Birthday" %>
        <div class="input-group-addon">
          <span class="glyphicon glyphicon-th"></span>
        </div>
      </div>
    </div>

    <div class="field form-group">
      <div class="col-4">
        <%= f.label :gender %>
      </div>
      <div class="col-4">
        <%= f.select :gender, options_for_select([["Male", "m"], ["Female", "f"]]), prompt: "Select Gender", class: "form-control gender_select", placeholder: "Gender" %>
      </div>
    </div>

    <div class="field form-group">
      <div class="col-4">
        <%= f.label :email %>
      </div>
      <div class="col-8">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field form-group">
      <div class="col-4">
        <%= f.label :password %>
      </div>
      <div class="col-8">
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      </div>
    </div>

    <div class="field form-group">
      <div class="col-4">
        <%= f.label :password_confirmation %>
      </div>
      <div class="col-8">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>
    </div>

    <div class="field form-group">
      <div class="col-4">
        <%= f.label :current_password %>
      </div>
      <div class="col-8">
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
      </div>
    </div>

    <div class="field form-group">
      <%= f.label :images %>
      <%= f.file_field :images, multiple: true %>
    </div>

    <div class="field form-group images" style="display: flex; flex-direction: row">
      <%= render partial: 'myprofile/images_edit_profile' %>
    </div>

    <div class="actions form-group">
      <%= f.submit "Update", class: "btn btn-primary" %>
    </div>
  <% end %>
  <script type="text/javascript">
      $(document).ready(function () {
          $('.datepicker').datepicker()
      });
  </script>
  <!--<h3>Cancel my account</h3>-->

  <!--<p>Unhappy? <%#= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>-->

<%#= link_to "Back", :back %>
</div>