<ul class="nav nav-tabs container">
  <% if defined? user %>
    <li class="nav-item">
      <a class="nav-link" id="1" data-toggle="tab" href="#user_profile">User Profile</a>
    </li>
  <% else %>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#edit_profile">My Profile</a>
    </li>
  <% end %>
  <li class="nav-item">
    <a class="nav-link" id="2" data-toggle="tab" href="#followers">Followers</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="3" data-toggle="tab" href="#following">Following</a>
  </li>
  <div class="stylediv"></div>
  <% if defined? user %>
    <div class="nav-item follow_btn-front">
    <button type="button" id="<%= user.id %>" data-userid="<%= current_user.id %>" class="btn btn-primary submit user_btn_front"></button>
    </div>
  <% end %>
</ul>
<div class="tab-content" id="tabs">
  <% if defined? user %>
    <div class="tab-pane" id="user_profile">
      <%= render :partial => 'profile/user_profile', locals: {user: user} %>
    </div>
    <div class="tab-pane" id="followers">
      <%= render :partial => 'profile/user_followers' %>
    </div>
    <div class="tab-pane" id="following">
      <%= render :partial => 'profile/user_following' %>
    </div>
  <% else %>
    <div class="tab-pane" id="edit_profile">
      <%= render :partial => 'myprofile/edit_profile' %>
    </div>
    <div class="tab-pane" id="followers">
      <%= render :partial => 'myprofile/followers' %>
    </div>
    <div class="tab-pane" id="following">
      <%= render :partial => 'myprofile/following' %>
    </div>
  <% end %>

</div>

<script>

    function activeTab(tab) {
        $('.nav-tabs a[href="#' + tab + '"]').tab('show');
    };

    <%if defined? user %>
      activeTab('user_profile');
    <% else %>
      activeTab('edit_profile');
    <% end %>

    function loadDataFollowers() {
        var value;
        Rails.ajax({
            url: "/api/v1/follows/" + $('#followers_tab').attr("data-userid") + "/allfollowers",
            type: "GET",
            success: function (data) {
                $(".tab-pane#followers #followers_tab").empty()
                $.each(data, function (i) {
                    $.ajax({
                        type: "POST",
                        url: "/api/v1/isfollowing",
                        data: {
                            current_user_id: $('#followers_tab').attr("data-userid"),
                            follow_user_id: data[i].id
                        },
                        success: function (data2) {
                            if (data2.data == true)
                                value = "Unfollow"
                            else
                                value = "Follow"
                            $.get("/api/v1/users/" + data[i].id + "/avatar_image_thumbnail", function (image, status) {
                                var link
                                if (image.link != null)
                                    link = image.link
                                else
                                    link = "http://www.gravatar.com/avatar?s=50"
                                $(".tab-pane#followers #followers_tab").append('<div class="single_user"><div class="card border-dark mb-3" style="min-width: 16rem;">\n' +
                                    '  <div class="card-body text-dark image_card" data-userid="<%= current_user.id %>">\n' +
                                    '      <div><img src="' + link + '" style="border-radius: 50%"/></div><div><a href="/profile/users/' + data[i].id + '" ><h5 class="card-title">' + data[i].name + '</h5></a>\n' +
                                    '    <button type="button" id=' + data[i].id + ' class="btn btn-primary submit user_btn">' + value + '</button>\n' +
                                    '  </div>\n' +
                                    '</div></div></div>')
                            })
                        }
                    })
                })
            }
        })
    }

    function loadUserDataFollowers() {
        var value;
        Rails.ajax({
            url: "/api/v1/follows/" + <%= user.id if defined? user%> +"/allfollowers",
            type: "GET",
            success: function (data) {
                $(".tab-pane#followers #user_followers_tab").empty()
                $.each(data, function (i) {
                        $.get("/api/v1/users/" + data[i].id + "/avatar_image_thumbnail", function (image, status) {
                            var link
                            if (image.link != null)
                                link = image.link
                            else
                                link = "http://www.gravatar.com/avatar?s=50"
                            $(".tab-pane#followers #user_followers_tab").append('<div class="single_user"><div class="card border-dark mb-3" style="min-width: 16rem;">\n' +
                                '  <div class="card-body text-dark image_card">\n' +
                                '     <div><img src="' + link + '" style="border-radius: 50%"/></div><div><a href="/profile/users/' + data[i].id + '" ><h5 class="card-title">' + data[i].name + '</h5></a>\n' +
                                '  </div>\n' +
                                '</div></div></div>')
                        })
                    }
                )
            }
        })
    }

    function loadDataFollowing() {
        var value;
        Rails.ajax({
            url: "/api/v1/follows/" + $('#following_tab').attr("data-userid") + "/allfollowing",
            type: "GET",
            success: function (data) {
                $(".tab-pane#following #following_tab").empty();
                $.each(data, function (i) {
                    $.get("/api/v1/users/" + data[i].id + "/avatar_image_thumbnail", function (image, status) {
                        var link
                        if (image.link != null)
                            link = image.link
                        else
                            link = "http://www.gravatar.com/avatar?s=50"
                        $(".tab-pane#following #following_tab").append('<div class="single_user"><div class="card border-dark mb-3" style="min-width: 16rem;">\n' +
                            '  <div class="card-body text-dark image_card" data-userid="<%= current_user.id %>">\n' +
                            '     <div><img src="' + link + '" style="border-radius: 50%"/></div><div><a href="/profile/users/' + data[i].id + '" ><h5 class="card-title">' + data[i].name + '</h5></a>\n' +
                            '    <button type="button" id=' + data[i].id + ' class="btn btn-primary submit user_btn" data-followingbtn="1">Unfollow</button>\n' +
                            '  </div>\n' +
                            '</div></div></div>')
                    })
                })
            }
        })
    }

    function loadUserDataFollowing() {
        var value;
        Rails.ajax({
            url: "/api/v1/follows/" + <%= user.id if defined? user%> +"/allfollowing",
            type: "GET",
            success: function (data) {
                $(".tab-pane#following #user_following_tab").empty();
                $.each(data, function (i) {
                    $.get("/api/v1/users/" + data[i].id + "/avatar_image_thumbnail", function (image, status) {
                        var link
                        if (image.link != null)
                            link = image.link
                        else
                            link = "http://www.gravatar.com/avatar?s=50"
                        $(".tab-pane#following #user_following_tab").append('<div class="single_user"><div class="card border-dark mb-3" style="min-width: 16rem;">\n' +
                            '  <div class="card-body text-dark image_card">\n' +
                            '    <div><img src="' + link + '" style="border-radius: 50%"/></div><div><a href="/profile/users/' + data[i].id + '" ><h5 class="card-title">' + data[i].name + '</h5></a>\n' +
                            '  </div>\n' +
                            '</div></div></div>')
                    })
                })
            }
        })
    }

    $(document).on('click', '.user_btn_front',function (e) {
        let btn = this
        console.log(btn.innerText)
        e.preventDefault()
        if(btn.innerText == "Follow") {
            $.post("/api/v1/follows", {
                current_user_id: $(this).attr("data-userid"),
                follow_user_id: $(this).attr("id")
            }, function (data, status) {
                $(btn).text("Unfollow");
            })
        }else if(btn.innerText == "Unfollow"){
            $.delete("/api/v1/follows/"+Math.random()*10, {
                current_user_id: $(this).attr("data-userid"),
                follow_user_id: $(this).attr("id")
            }, function (data, status) {
                    $(btn).text("Follow");
            })
        }
    })

    $('.nav-item #2').on('click', function () {
        <% if defined? user %>
        loadUserDataFollowers()
        <% else %>
        loadDataFollowers();
        <% end %>
    });

    $('.nav-item #3').on('click', function () {
        <% if defined? user %>
        loadUserDataFollowing()
        <% else %>
        loadDataFollowing();
        <% end %>
    });

    function loadFollowStatus() {
        $.ajax({
            type: "POST",
            url: "http://localhost:3000/api/v1/isfollowing",
            data: {
                current_user_id: $('.user_btn_front').attr("data-userid"),
                follow_user_id: $('.user_btn_front').attr("id")
            },
            success: function (data) {
                var value
              if(data.data =true)
                  value ="Unfollow"
                else
                    value="follow"
                $('.user_btn_front').text(value)
            }
        })
    }
<% if defined? user%>
    loadFollowStatus()
  <% end %>
</script>