<ul class="nav nav-tabs container">
  <% if defined? user %>
    <li class="nav-item">
      <a class="nav-link" id="1" data-toggle="tab" href="#user_profile">User Profile</a>
    </li>
  <% else %>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#edit_profile">My Profile</a>
    </li>
  <% end %>
  <li class="nav-item">
    <a class="nav-link" id="tab2" data-toggle="tab" href="#followers">Followers</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="tab3" data-toggle="tab" href="#following">Following</a>
  </li>
  <div class="stylediv"></div>
  <% if defined? user %>
    <div id="follow_btn" class="nav-item follow_btn-front">
    <button type="button" id="<%= user.id %>" data-userid="<%= current_user.id %> " data-remote="true" data-method="" data-url="" data-params="" class="btn btn-primary submit user_btn_front"></button>
    </div>
  <% end %>
</ul>
<div class="tab-content" id="tabs">
  <% if defined? user %>
    <div class="tab-pane" id="user_profile">
      <%= render :partial => 'profile/user_profile', locals: {user: user} %>
    </div>
    <div class="tab-pane" id="followers">
      <%= render :partial => 'profile/user_followers' %>
    </div>
    <div class="tab-pane" id="following">
      <%= render :partial => 'profile/user_following' %>
    </div>
  <% else %>
    <div class="tab-pane" id="edit_profile">
      <%= render :partial => 'myprofile/edit_profile' %>
    </div>
    <div class="tab-pane" id="followers">
      <%= render :partial => 'myprofile/followers' %>
    </div>
    <div class="tab-pane" id="following">
      <%= render :partial => 'myprofile/following' %>
    </div>
  <% end %>

</div>

<script>

    function activeTab(tab) {
        $('.nav-tabs a[href="#' + tab + '"]').tab('show');
    };

    <%if defined? user %>
      activeTab('user_profile');
    <% else %>
      activeTab('edit_profile');
    <% end %>

    $('.nav-item #tab2').on('click', function () {
        <% if defined? user %>
        loadUserDataFollowers(<%= user.id %>);
        <% else %>
        loadDataFollowers(<%= current_user.id %>);
        <% end %>
    });

    $('.nav-item #tab3').on('click', function () {
        <% if defined? user %>
        loadUserDataFollowing(<%= user.id %>);
        <% else %>
        loadDataFollowing(<%= current_user.id %>);
        <% end %>
    });

    function loadFollowStatus() {

        $.ajax({
            type: "POST",
            url: "http://localhost:3000/api/v1/isfollowing",
            data: {
                current_user_id: $('.user_btn_front').attr("data-userid"),
                follow_user_id: $('.user_btn_front').attr("id")
            },
            success: function (data) {
                var value;
                if (data.data == true) {
                    value = "Unfollow";
                    $('.user_btn_front').attr("data-method", "delete");
                    $('.user_btn_front').attr("data-url", "/api/v1/follows/" + Math.random() * 10);
                    $('.user_btn_front').attr("data-params", "current_user_id=" + <%= current_user.id %> +"&follow_user_id=" + $('.user_btn_front').attr("id"));
                } else {
                    value = "Follow";
                    $('.user_btn_front').attr("data-method", "post");
                    $('.user_btn_front').attr("data-url", "/api/v1/follows/");
                    $('.user_btn_front').attr("data-params", "current_user_id=" + <%= current_user.id %> +"&follow_user_id=" + $('.user_btn_front').attr("id"));

                }
                $('.user_btn_front').text(value);
                onAjaxSuccess();
            }
        })
    }

    function onAjaxSuccess() {

        $('.user_btn_front')[0].addEventListener('ajax:success',function () {

            if ($('.user_btn_front')[0].innerText== "Follow") {
                $('.user_btn_front').text("Unfollow");
                $('.user_btn_front').attr("data-method", "delete");
                $('.user_btn_front').attr("data-url", "/api/v1/follows/" + Math.random() * 10);
                $('.user_btn_front').attr("data-params", "current_user_id=" + <%= current_user.id %> +"&follow_user_id=" + $('.user_btn_front').attr("id"));
            } else {
                $('.user_btn_front').text("Follow");
                $('.user_btn_front').attr("data-method", "post");
                $('.user_btn_front').attr("data-url", "/api/v1/follows/");
                $('.user_btn_front').attr("data-params", "current_user_id=" + <%= current_user.id %> +"&follow_user_id=" + $('.user_btn_front').attr("id"));
            }
        })
    }



<% if defined? user%>
    loadFollowStatus();
  <% end %>
</script>