<div id="trips" data-userid="<%= current_user.id %>">
  <% @trips.each do |trip| %>
    <div class="card" style="width: 18rem;">
      <ul class="list-group list-group-flush">
        <div class="card-body">
          <li class="list-group-item">
            <div>
              <%= image_tag user_avatar(trip.user, 50), class: "rounded-circle" %>
              <h5 class="card-title"><%= trip.user.name %></h5>
            </div>
          </li>
          <li class="list-group-item">
            <div>
              <%= image_tag trip_image(trip), size: "245x125" %>
            </div>
          </li>
          <li class="list-group-item  text-center">
            <div>
              <h5 class="card-title" style="margin: auto"><%= trip.location %></h5>
              <p  style="margin: auto"><%= trip.date_s %> to <%= trip.date_e %></p>
            </div>
          </li>
          <li class="list-group-item  text-center">
            <div>
              <p class="card-text" style="margin: auto">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </li>
          <!--    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
        </div>
      </ul>
    </div>
  <% end %>
</div>