<div id="trips" class="row col-md-8 col-sm-12" data-userid="<%= current_user.id %>">
  <% @trips.each do |trip| %>
    <div class="col-lg-6">
      <div class="card" style="width: 18rem;" id="<%= trip.id %>">
        <ul class="list-group list-group-flush">
          <div class="card-body">
            <li class="list-group-item">
              <div id="first_item">
                <%= image_tag user_avatar(trip.user, 50), class: "rounded-circle" %>
                <a href="/profile/users/<%= trip.user.id %>"><h5 class="card-title" style="width: 145px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden"><%= trip.user.name %></h5></a>
              </div>
            </li>
            <li class="list-group-item">
              <div class="trip_image">
                <% if !trip.photos.present? %>
                  <%= image_tag trip.thumbnail %>
                <% else %>
                  <%= image_tag trip_image(trip) %>
                <% end %>
              </div>
            </li>
            <li class="list-group-item  text-center">
              <div id="location">
                <h5 class="card-title" style="margin: auto;"><%= link_to trip.location, trip_path(trip) %></h5>
                <p style="margin: auto"><%= Time.new(trip.date_s[6...10], trip.date_s[3...5], trip.date_s[0...2]).strftime("%d %b %Y") %>
                  to <%= Time.new(trip.date_e[6...10], trip.date_e[3...5], trip.date_e[0...2]).strftime("%d %b %Y") %></p>
              </div>
            </li>
            <li class="list-group-item  text-center">
              <div>
                <p class="card-text" style="margin: auto">Some quick example text to build.</p>
              </div>
            </li>
          </div>
        </ul>
      </div>
    </div>
  <% end %>
</div>