<% if !@reviews.nil? %>
  <div class="reviews">
    <% @reviews.each do |review| %>
      <div class="single_review">
        <div class="review_title">
          <div id="review_avatar">
            <%= image_tag user_avatar(review.user, 40), class: "rounded-circle" %>
          </div>
          <div id="name">
            <%= link_to review.user.name.titleize, profile_show_path(review.user) %>
          </div>
          <div id="vertical_line_review">|</div>
          <div class="review-rating btn-group" data-score="<%= review.rating %>" id="star_rating"></div>
          <% if current_user == review.user %>
            <div id="edit_review">
              <%= link_to "Edit", edit_api_v1_user_review_path(id: review, review_user_id: @user.id), class: "btn btn-secondary", remote:true %>
            </div>
          <div id="delete_review">
            <%= link_to "Delete", api_v1_user_review_path(id: review, review_user_id: @user.id), class: "btn btn-secondary", data: { confirm: "Are you sure you want to do that?" }, method: :delete, remote: true%>
          </div>
            <% end %>
        </div>
        <div class="review_description">
          <div id="review_description_text">
            <%= review.description %>
          </div>
          <div>
            <%= commontator_thread(review) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<script>
    $('.review-rating').raty({
        readOnly: true,
        score: function () {
            return $(this).attr('data-score');
        },
        path: '/assets/'
    });
</script>