<h4>You already have a premium plan</h4>
<% if user == :pro_user_1 %>
  <%= form_for(@payment,url: payment_path(current_user), html: { class: "payment_form col-md-5 col-sm-12", method: :put} ) do |f| %>
  <div class="form-group">
    <label>Select Your Plan</label>
    <%= f.select :plan, options_for_select([['Plan $9', 2], ['Plan $15', 3]]),  class: "form-control" %>
  </div>
    <%= f.submit "Change", class: "btn btn-primary" %>
  <% end %>
  <% end %>
<% if user == :pro_user_2 %>
  <%= form_for(@payment,url: payment_path(current_user), html: { class: "payment_form col-md-5 col-sm-12", method: :put} ) do |f| %>
  <div class="form-group">
    <label>Select Your Plan</label>
    <%= f.select :plan, options_for_select([['Plan $5', 1], ['Plan $15', 3]]),  class: "form-control" %>
  </div>
  <%end %>
  <% end %>
<% if user == :pro_user_3 %>
  <%= form_for(@payment,url: payment_path(current_user), html: { class: "payment_form col-md-5 col-sm-12", method: :put} ) do |f| %>
  <div class="form-group">
    <label>Select Your Plan</label>
    <%= f.select :plan, options_for_select([['Plan $5', 1], ['Plan $9', 2]]),  class: "form-control" %>
  </div>
    <% end %>
  <% end %>
<%#= link_to "Change", payment_path(current_user.id), class: "btn btn-primary", method: :put, remote: true %>