<div class="container" id="user_profile">
<div class="form-group picture">
  <%= image_tag user_avatar(user,150), class: "rounded" %>
</div>

  <div class="field form-group">
    <div class="col-4">
      <%=label_tag("Name") %>
    </div>
    <div class="col-8">
      <%= simple_format(user.name.capitalize) %>
    </div>
  </div>

  <div class="field form-group">
    <div class="col-4">
      <%=label_tag("Email") %>
    </div>
    <div class="col-8">
      <%= simple_format(user.email) %>
    </div>
  </div>

  <div class="field form-group">
    <div class="col-4">
      <%=label_tag("Gender") %>
    </div>
    <div class="col-8">
      <%=   user.gender =="m" ? simple_format("Male") : simple_format("Female") %>
    </div>
  </div>

  <div class="field form-group">
    <div class="col-4">
      <%=label_tag("Date of birthday:") %>
    </div>
    <div class="col-8">
      <%= simple_format(user.dob) %>
    </div>
  </div>
  <div class="field form-group images" style="display: flex; flex-direction: row">
  <% (0...user.images.count).each do |image| %>
    <%= image_tag(user.thumbnail(image)) %>
  <% end %>
  </div>

  <% if !user.trips.empty? %>
  <p><%= user.name %> Trips</p>
  <div class="map">
    <div class="trip_list_profile">
      <div id="trip_list">
        <% (0...3).each do |trip| %>
          <% if !user.trips[trip].nil? %>
            <a class="trip_links"  data-lat="<%= user.trips[trip].latitude%>" data-lon="<%= user.trips[trip].longitude%>">
              <div class="card border-light mb-3">
                <div class="trip_card card-body text-dark">
                  <div class="icon_flag">
                    <%= image_tag("flag_trip.png") %>
                  </div>
                  <div class="trip_details">
                    <h5 class="card-title"><%= user.trips[trip].location %></h5>
                    <p><%= user.trips[trip].date_s %> - <%= user.trips[trip].date_e %></p>
                  </div>
                </div>
              </div>
            </a>
          <% end %>
        <% end %>
      </div>
    </div>
    <div id="map">
    </div>
  </div>
<% end %>

</div>
<script src="http://maps.google.com/maps/api/js"></script>
<script>
    var map = new GMaps({
        el: '#map',
        lat: 0,
        lng: 0,
    })

    $('.trip_links').on('click', function () {
        gMap = new google.maps.Map(document.getElementById('map'));
        gMap.setZoom(13);      // This will trigger a zoom_changed on the map
        gMap.setCenter(new google.maps.LatLng($(this).attr("data-lat"), $(this).attr("data-lon")));
        var myLatlng = new google.maps.LatLng($(this).attr("data-lat"), $(this).attr("data-lon"));
        var marker = new google.maps.Marker({
            position: myLatlng,
            title:"Hello World!"
        });
        marker.setMap(gMap);
    })
</script>