<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <% if user_signed_in? %>
      <%= link_to image_tag("logo-white.png", alt: "Brand"), root_path, class: "navbar-brand" %>
    <% else %>
      <%= link_to image_tag("logo-white.png", alt: "Brand"), new_user_session_path, class: "navbar-brand" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <% if user_signed_in? %>
        <div class="nav navbar-nav navbar-right">
          <%= form_tag(search_show_path, method: :get, class: "form-inline") do |f| %>
            <div class="form-group has-search">
            <%= text_field_tag(:search, params[:search], class: "form-control mr-sm-2") %>
            <%= submit_tag("Search", class: "btn btn-success my-2 my-sm-0") %>
            </div>
            <% end %>
<!--          <form class="form-inline">-->
<!--            <div class="form-group has-search">-->
<!--              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="margin-top: 0px;">-->
<!--              <span class="fa fa-search form-control-feedback"></span>-->
<!--            </div>-->
<!--          </form>-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <%= image_tag user_avatar(current_user,20), class: "rounded-circle" %>
              <%= current_user.name.titlecase %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to "My Trips", new_trip_path, class: "dropdown-item" %>
              <%= link_to "My Profile", edit_user_registration_path, class: "dropdown-item" %>
              <% if current_user.has_role? :pro_user %>
              <a class="dropdown-item" href="#">Messages</a>
                <% end %>
              <% if current_user.has_role? :admin %>
                <a class="dropdown-item" href="/admin/dashboard">Admin Panel</a>
              <% end %>
              <div class="dropdown-divider"></div>
              <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        </div>
      <% end %>
    </div>
  </div>
</nav>